.header {
    position: relative;
    padding: 16px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: none;
    height: auto;
}

.blagovist {
    & .header {
        background-color: var(--color-blue);
    }

    & .header__logo--blagovist {
        display: block;
        width: 160px;
    }
}


.park-lane {
    & .header {
        background-color: var(--color-purple);
    }

    & .header__logo--park-lane {
        display: block;
        width: 180px;
    }
}
