.indicators {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

.indicators__item:last-child {
    padding-right: 0;
    border-right: none;
}

.indicators__value {
    display: flex;
    align-items: center;
    min-width: 32px;
    font-size: 15px;
    line-height: 1;
}

.indicators__value::before {
    display: inline-flex;
    margin-right: 6px;
    font-family: 'icomoon', sans-serif;
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
}

.indicators__value--rooms::before {
    content: '\e90a';
}

.indicators__value--square::before {
    content: '\e90c';
}

.indicators__value--floor::before {
    content: '\e91d';
}

.indicators__value sup {
    font-size: 10px;
}

.indicators__title {
    margin-left: 2px;
    font-size: 12px;
    color: var(--color-grey);
}

.blagovist {
    & .indicators__value::before {
        color: var(--color-blue);
    }
}


.park-lane {
    & .indicators__value::before {
        color: var(--color-purple);
    }
}
