.objects {
    padding: 0 0 24px;

    @media (min-width: 768px) {
        padding: 0 0 40px;
    }
}

.objects__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 48px;
    margin: 0;
    padding: 0;

    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1792px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1920px) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.objects__item {
    padding: 14px 12px;
    transition: all 0.3s ease;
}

.objects__item--like .objects__action:nth-child(2) {
    opacity: 0.5;
}

.objects__item--dislike {
    filter: grayscale(1);
    background-color: #e8e8e8;
    opacity: 0.9;
}

.objects__item--dislike .objects__action:nth-child(1) {
    opacity: 0.5;
}

.objects__item--dislike .objects__action:nth-child(2) .objects__action-icon {
    fill: #1a1a1a;
    opacity: 1;
}

.objects__layout {
    transition: transform 0.3s ease;
}

.objects__cover-holder {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 70%;
    overflow: hidden;
    margin-bottom: 24px;
    color: inherit;
    text-decoration: none;
}

.objects__id {
    position: absolute;
    left: 0;
    bottom: 16px;
    display: inline-flex;
    padding: 6px 12px;
    font-size: 14px;
    color: var(--color-white);
}

.objects__price {
    position: absolute;
    right: 0;
    top: 16px;
    display: inline-flex;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
}

.objects__cover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.objects__group {
    margin-bottom: 8px;
    font-size: 20px;
}

.objects__title {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

.objects__area-holder {
    margin-bottom: 24px;
    height: 48px;
}

.objects__area {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
}

.objects__area-row {
    display: block;
}

.objects__indicators {
    margin-bottom: 32px;
}

.objects__actions {
    display: flex;
    align-items: center;
    column-gap: 52px;
}

.objects__action {
    position: relative;
    -webkit-appearance: none;
    display: block;
    justify-content: center;
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 4px;
    font-size: 16px;
    font-family: 'Gotham Pro', 'Arial', sans-serif;
    font-weight: normal;
    text-align: left;
    color: var(--color-grey);
    background-color: var(--color-transparent);
    border: none;
    border-bottom: 1px dashed var(--color-grey);
    cursor: pointer;
    outline: none;
}

.objects__action:hover .objects__action-icon {
    transform: scale(0.94);
    opacity: 0.8;
}

.objects__action:hover .objects__action-hint{
    @media (min-width: 1280px) {
        opacity: 1;
        transform: translateY(0);
    }
}

.objects__action:nth-child(2) .objects__action-icon {
    transform: rotate(180deg);
}

.objects__action-icon {
    display: block;
    margin: 0 auto 4px;
    width: 28px;
    fill: var(--color-grey);
    opacity: 0.7;
    transition: all 0.3s ease;

}

.objects__action-hint {
    position: absolute;
    top: 130%;
    display: block;
    padding: 4px 6px;
    font-size: 13px;
    color: var(--color-white);

    opacity: 0;
    transform: translateY(8px);
    transition: all 0.4s ease;
    pointer-events: none;
}

.objects__action:nth-child(2) .objects__action-hint{
    width: 107px;
}

.objects__action-hint::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 8px;
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

.blagovist {
    & .objects__id,
    & .objects__price {
        background-color: var(--color-blue);
    }

    & .objects__item--like {
        background-color: rgba(238, 242, 253, 1);
    }

    & .objects__item--like .objects__action:first-child .objects__action-icon {
        fill: var(--color-blue);
        opacity: 1;
    }

    & .objects__item--like .objects__action:first-child .objects__action--active {
        color: var(--color-blue);
    }

    & .objects__action-hint {
        background-color: var(--color-blue);
    }

    & .objects__action-hint::before {
        background-color: var(--color-blue);
    }
}


.park-lane {
    & .objects__id,
    & .objects__price {
        background-color: var(--color-purple);
    }

    & .objects__item--like {
        background-color: rgba(253, 238, 238, 0.65);
    }

    & .objects__item--like .objects__action:first-child .objects__action-icon {
        fill: var(--color-purple);
        opacity: 1;
    }

    & .objects__item--like .objects__action:first-child .objects__action--active {
        color: var(--color-purple);
    }

    & .objects__action-hint {
        background-color: var(--color-purple);
    }

    & .objects__action-hint::before {
        background-color: var(--color-purple);
    }

}
