.object__screen {
    margin-bottom: 40px;
}

.object__layout {
    margin-bottom: 24px;

    @media (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.object__layout:last-child {
    margin-bottom: 0;
}

.object__screen--first {
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
        align-items: flex-start;
    }
}

.object__cover-holder {
    position: relative;
    display: block;

    @media (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.object__cover {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.object__id {
    position: absolute;
    left: 0;
    bottom: 16px;
    display: inline-flex;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--color-white);
    border-radius: 0 5px 5px 0;
}

.object__tours {
    display: flex;
    column-gap: 16px;
    padding-top: 16px;
}

.object__tours .object__tour-button {
    margin-bottom: 0;
}

.object__tour-button {
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    width: 140px;
    height: auto;
    margin: 0 0 16px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (min-width: 768px) {
        width: 180px;
    }
}

.object__tour-button:hover {
    transform: scale(0.94);
    opacity: 0.8;
}

.object__tour-button::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--color-white);
}

.object__group {
    margin-bottom: 8px;
    font-size: 26px;
}

.object__address {
    margin: 0 0 24px;
    font-size: 22px;
    font-weight: bold;
}

.object__complex {
    display: block;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
}

.object__indicators {
    margin-bottom: 24px;
}

.object__price {
    position: relative;
    margin-bottom: 32px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
}

.object__price:hover {
    transform: scale(1.01);

}

.object__price--active .object__price-dropdown {
    visibility: visible;
    opacity: 1;
}

.object__price-dropdown {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.3;
    color: var(--color-grey);
    background-color: var(--color-white);
    opacity: 0;
}

.object__unit-price {
    font-size: 22px;
    font-weight: normal;
}

.object__price-dropdown .object__unit-price {
    font-size: 18px;
}

.object__description {
    color: var(--color-grey);
    line-height: 1.3;
}

.object__description p {
    margin: 0 0 12px;
}

.object__sub-title {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 0 16px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
}

.object__sub-title-icon {
    display: none;
    vertical-align: bottom;
    width: 32px;
    height: auto;
    margin-right: 6px;
}

.object__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;
    }
}

.object__image-holder {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 68%;
    overflow: hidden;
}

.object__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blagovist {
    & .object__id {
        background-color: var(--color-blue);
    }

    .object__tour-button {
        background-color: var(--color-blue);
    }

    .object__complex,
    .object__sub-title,
    .object__price {
        color: var(--color-blue);
    }

    .object__sub-title-icon--blagovist {
        display: inline-flex;
    }
}


.park-lane {
    & .object__id {
        background-color: var(--color-purple);
    }

    .object__tour-button {
        background-color: var(--color-purple);
    }

    .object__complex,
    .object__sub-title,
    .object__price {
        color: var(--color-purple);
    }

    .object__sub-title-icon--park-lane {
        display: inline-flex;
    }
}
