.realtor {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.realtor--object {
    margin-bottom: 32px;
}

.realtor__photo {
    flex-shrink: 0;
    width: 98px;
    height: auto;
    border-radius: 5px;
}

.realtor__name {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

.realtor__phone {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: var(--color-black);
}

.realtor__phone:last-child {
    margin-bottom: 0;
}

.realtor__email {
    text-decoration: none;
    color: var(--color-grey);
}

.realtor__info-row {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 8px;
}

.realtor__info-row .realtor__phone {
    margin-bottom: 0;
}

.realtor__info-row:nth-child(2) {
    margin-bottom: 2px;
}

.realtor__info-row:last-child {
    margin-bottom: 0;
}

.realtor__messenger:hover .realtor__messenger-icon{
    transform: scale(0.94);
    opacity: 0.8;
}

.realtor__messenger-icon {
    display: block;
    width: 28px;
    height: auto;
    transition: all 0.4s ease;
}


.blagovist {
    & .realtor__name {
        color: var(--color-blue);
        font-size: 22px;
    }
}

.park-lane {
    & .realtor__name {
        color: var(--color-purple);
        font-size: 20px;
    }
}

