.sharing {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 0;
    margin: 0;

    @media (min-width: 1024px) {
        column-gap: 14px;
    }
}

.sharing__item:hover .sharing__hint {
    @media (min-width: 1280px) {
        opacity: 1;
        transform: translateY(0);
    }
}

.sharing__link {
    transition: all 0.4s ease;
}

.sharing__link:hover .sharing__icon {
    transform: scale(0.94);
    opacity: 0.8;
}

.sharing__icon {
    display: block;
    width: 22px;
    height: auto;
    transition: all 0.4s ease;

    @media (min-width: 1024px) {
        width: 28px;
    }
}

.sharing__hint {
    position: absolute;
    top: 90%;
    display: block;
    padding: 4px 6px;
    background-color: var(--color-white);
    font-size: 14px;

    opacity: 0;
    transform: translateY(8px);
    transition: all 0.4s ease;
    pointer-events: none;
}

.sharing__hint::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 8px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--color-white);
    transform: rotate(45deg);
}
